.welcome-container {
    margin-top: 80px;

    .welcome-card-conmtainer {
        margin-top: 80px;
    }

}

.title-icon {
    display: inline-block;
    height: 20px;
    border: 5px dashed;
    border-color: transparent transparent transparent #FDE96C !important;
    width: 5px;
}