.emandi-tv-container {
    margin-top: 100px;
    .title-icon{
        height: 31px;
        border: 8px dashed;
        margin-right: 1px;
    }

    .carousel-card{
        width: 40%;
        height: 225px;
    }

    .ecash-btn{
        background-color: #F5F5F5 !important;
    }
}